menu: [
  label: "Packages"
  submenu: [
    label: "Modular Snippets"
    submenu: [
      { label: "Open", command: 'modular-snippets:open'}
      { label: "Reload", command: 'modular-snippets:reload'}
]  ]  ]
